body {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	background-color: rgb(43, 43, 43);
}

header {
	background-color: brown;
	color: lightgoldenrodyellow;
	width: fit-content;
	border-radius: 5px;
	margin-left: 30px;
	text-align: center;
	padding: 2px;
}

.empty {
	visibility: hidden;
}

#title {
	text-align: center;
	color: lightgoldenrodyellow;
	background-color: brown;
	width: 60%;
	margin: 10px auto;
	border-radius: 10px;
}

#content {
	background: lightgray;
	width: 80%;
	margin: auto;
	padding: 10px;
	color: darkred;
	border-radius: 10px;
}

#content h2 {
	color: lightgoldenrodyellow;
	background-color: brown;
	width: 45%;
	margin: auto;
	text-align: center;
	border: solid rgb(43, 43, 43) 2px;
	border-radius: 5px;
}

section {
	padding-top: 10px;
	padding-left: 0px;
	margin: 0px 20px;
}

article {
	background-color: rgb(43, 43, 43);
	border-radius: 5px;
	margin-bottom: 20px;
	text-align: center;
	border: solid black 2px;
}

article:hover {
	background-color: darkslategray;
}

section li:hover {
	color: rgb(43, 43, 43);
	background-color: lightgoldenrodyellow;
}

section a {
	text-decoration: none;
	color: lightgoldenrodyellow;
}

.section-image {
	width: 85%;
	margin: auto;
}

.section-image img {
	width: 100%;
}

section p {
	margin: 10px 20px;
}

section p a {
	text-decoration: underline;
}

footer {
	background-color: brown;
	color: lightgoldenrodyellow;
	width: 100px;
	border-radius: 5px;
	text-align: center;
	margin: 10px auto;
}

@media only screen and (min-width: 600px) {
	#content h2 {
		width: 35%;
	}

	section {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	article {
		max-width: 30%;
		flex: 30%;
	}
}
